<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BNVS API</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/custom/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="~/images/bank-of-uganda.jpg" rel="shortcut icon" />
</head>
<body>

<div class="container-fluid">
    <header class="top-bar">
        <button class="menu-toggle" aria-label="menu">
            <img src="~/images/menu-white.svg">
            <!-- <i class="fas fa-bars"></i> -->
        </button>
        <div class="logo-element">
            <a class="sr-only sr-only-focusable" href="#main-content">Skip to main content</a>
            <img src="~/images/construo.png" alt="Construo logo">
        </div>
    </header>
    <nav class="navigation-bar">
        <div class="logo-element">
            <img src="~/images/construo.png" alt="Construo logo">
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a data-scroll
                   href="#intro"
                   class="text-decoration-none link-heading" 
                   id="doc-intro"
                > 
                    Introduction
                </a>
                <ul id="collapseIntroduction">
                    <li>
                        <img src="~/images/key.svg">
                        <a data-scroll
                           href="@Url.ActionLink("Index", "Documentation")#intro"
                           class="text-decoration-none">Introduction</a>
                    </li>
                    <li>
                        <img src="~/images/key.svg">
                        <a data-scroll
                           href="@Url.ActionLink("Index", "Documentation")#auth"
                           class="text-decoration-none">Authentication & Authorization</a>
                    </li>
                    <li>
                        <img src="~/images/key.svg">
                        <a data-scroll
                           href="@Url.ActionLink("Index", "Documentation")#servers"
                           class="text-decoration-none">Servers</a>
                    </li>
                    <li>
                        <img src="~/images/key.svg">
                        <a data-scroll
                           href="@Url.ActionLink("Index", "Documentation")#nira-error-codes"
                           class="text-decoration-none">NIRA Error Codes</a>
                    </li>
                    @*<li>
                        <img src="~/images/key.svg">
                        <a data-scroll
                           href="@Url.ActionLink("Index", "Documentation")#intro"
                           class="text-decoration-none">Requests</a>
                    </li>
                    <li>
                        <img src="~/images/key.svg">
                        <a data-scroll
                           href="@Url.ActionLink("Index", "Documentation")#intro"
                           class="text-decoration-none">HTTP Statuses</a>
                    </li>
                    <li>
                        <img src="~/images/key.svg">
                        <a data-scroll
                           href="@Url.ActionLink("Index", "Documentation")#intro"
                           class="text-decoration-none">Responses</a>
                    </li>*@
                </ul>
            </li>
            @*<li class="list-group-item">
            <a data-scroll
               href="@Url.ActionLink("Index", "Documentation")#auth"
               class=" text-decoration-none">Authentication</a>
        </li>
        <li class="list-group-item">
            <a data-scroll
               href="@Url.ActionLink("Index", "Documentation")#servers"
               class="text-decoration-none">Servers</a>
        </li>*@
        <li class="list-group-item">
            <a data-scroll
               class="text-decoration-none link-heading collapsed"data-toggle="collapse" aria-expanded="false" aria-controls="collapseApi" id="api-description">API Description</a>
            <ul class="collapse" id="collapseApi">
                <li data-item-id="operation/AddRequest">
                    <img src="~/images/key.svg">
                    <a data-scroll
                       href="javascript:scrollIframeLink('section/Authentication');"
                       class="text-decoration-none">Authentication</a>
                </li>
                <li>
                    <img src="~/images/key.svg">
                    <a data-scroll
                       href="javascript:scrollIframeLink('tag/Requests');"
                       class="text-decoration-none">ID Verification Requests</a>
                </li>
                @*<li>
                    <img src="~/images/key.svg">
                    <a data-scroll
                       href="javascript:scrollIframeLink('operation/AddRequest');"
                       class="text-decoration-none">Add NIRA Credentials</a>
                </li>*@
                <li>
                    <img src="~/images/key.svg">
                    <a data-scroll
                       href="javascript:scrollIframeLink('operation/AddRequest');"
                       class="text-decoration-none">Make Verification Request</a>
                </li>
                <li>
                    <img src="~/images/key.svg">
                    <a data-scroll
                       href="javascript:scrollIframeLink('operation/GetRequestById');"
                       class="text-decoration-none">Get Request Details</a>
                </li>
                <li>
                    <img src="~/images/key.svg">
                    <a data-scroll
                       href="javascript:scrollIframeLink('operation/SearchRequests');"
                       class="text-decoration-none">Search Requests</a>
                </li>
                <li>
                    <img src="~/images/key.svg">
                    <a data-scroll
                       href="javascript:scrollIframeLink('tag/Exports');"
                       class="text-decoration-none">Export Requests</a>
                </li>
                <li>
                    <img src="~/images/key.svg">
                    <a data-scroll
                       href="javascript:scrollIframeLink('operation/GetRequestStatus');"
                       class="text-decoration-none">Get Export Status</a>
                </li>
                <li>
                    <img src="~/images/key.svg">
                    <a data-scroll
                       href="javascript:scrollIframeLink('operation/download');"
                       class="text-decoration-none">Download Exported Requests</a>
                </li>
            </ul>
        </li>
            @*<li class="list-group-item">
                <a data-scroll
                   href="@Url.ActionLink("Doc", "Documentation")#intro"
                   class="text-decoration-none link-heading">Terminologies</a>
            </li>*@
        </ul>
    </nav>
    
    <main id="main-content">
        <div class="row">
            <div class="col-md-8 offset-md-4  col-lg-8 offset-lg-3  col-xl-12 offset-xl-0 bg-white">
                @RenderBody()
            </div>
        </div>
    </main>
</div>

<script src="~/lib/jquery-3.6.0.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/smooth-scroll/smooth-scroll.min.js"></script>
<script src="~/lib/smooth-scroll/smooth-scroll.polyfills.min.js"></script>

<script language="javascript">
    var scroll = new SmoothScroll('a[href*="#"]',
        {
            speed: 600
        });

    function scrollIframeLink(linkId) {
        var childWindow = document.getElementsByTagName("iframe");

        var docIframe = childWindow[0].contentWindow;
        console.log(linkId, docIframe);
        docIframe.scrollTo(0, docIframe.document.getElementById(linkId).offsetTop);
    }

    //$("iframe").ready(function () {
        
    //    var url = window.location;
    //    scrollIframeLink('tag/Requests')
    //});

    /*$('#docs').on('load', function () {
        var childWindow = document.getElementById("docs");
        var docIframe = childWindow.contentWindow;
        //docIframe.scrollTo(0, docIframe.document.getElementById('tag/Requests').offsetTop);

        //console.log(docIframe.document.find('body'));
        //console.log(docIframe.document.getElementById('tag/Requests'));
    });*/

    $(document).ready(function () {
        /*var childWindow = document.getElementById("docs");
        var docIframe = childWindow.contentWindow;
        docIframe.scrollTo(0, docIframe.document.getElementById('tag/Requests').offsetTop);

        var thisSection = docIframe.document.getElementById('tag/Requests');

        //console.log(thisSection);*/


        $('.menu-toggle').click(function () {
            $("nav.navigation-bar").toggleClass('navigation-bar-visible');
        });

        let $main = $('main');
        $main.on('click', function (event) {
            let clickedOutside = $(event.target).closest('nav.navigation-bar').length == 0;                             
            if (clickedOutside && $("nav.navigation-bar").hasClass('navigation-bar-visible')) {
                $("nav.navigation-bar").removeClass('navigation-bar-visible');
            }
        })

        $('nav.navigation-bar ul').on('click', function (event) {                            
            if ($("nav.navigation-bar").hasClass('navigation-bar-visible')) {
                $("nav.navigation-bar").removeClass('navigation-bar-visible');
            }
        })

        $('li.list-group-item a.link-heading').on('click', function (event) {
            /*First remove pointer from all other links*/
            $('li.list-group-item ul li').removeClass('link-detail')
            $(this).toggleClass('active-link');
            if ($('.list-group-item a').attr("aria-expanded") == "true") {
                
            }
        })
        $('li.list-group-item ul li').on('click', function (event) {
            $('li.list-group-item ul li').removeClass('link-detail')
            $(this).addClass('link-detail');
        })

        $('#api-description').on('click', function (event) {
            //If API description is not active, reload page
            if (this.classList.contains("collapsed") && (!!(window.location.href.indexOf("api-docs") > -1) === false)) {
                
                window.location = `${window.location.protocol}//${window.location.hostname}:${window.location.port}/api-docs `
            } else {
                $('#api-description').toggleClass('collapsed')
                $('#collapseApi').toggleClass('show')
            }
            
            
        })
        //Click outside api desciption closes api-description menu
        $('#doc-intro').on('click', function (event) {
            //Close api description menu
            $('#api-description').addClass('collapsed')
            $('#collapseApi').removeClass('show')
            if (this.id === 'doc-intro') {
                window.location = `${window.location.protocol}//${window.location.hostname}:${window.location.port}/#intro`
            }
            

        })

    });
    $(window).on("load", function () {

        var childWindow = document.getElementById("docs");
        var docIframe = childWindow.contentWindow;
        //docIframe.scrollTo(0, docIframe.document.getElementById('tag/Requests').offsetTop);

        var thisFrame = $('#docs');
        var actualWindow = thisFrame[0].contentWindow;
        var thisSection = actualWindow.document.getElementById('tag/Requests');
     
        var apiDescriptionConatiner = document.getElementById('api-description');
        var apiDescriptionInner = document.getElementById('collapseApi');
        
        apiDescriptionConatiner.classList.remove("collapsed")
        apiDescriptionInner.classList.add("show")

        //setTimeout(function () {
        //    var childWindow = document.getElementById("docs");
        //    var docIframe = childWindow.contentWindow;
        //    docIframe.scrollTo(0, docIframe.document.getElementById('tag/Requests').offsetTop);

        //    var thisSection = docIframe.document.getElementById('tag/Requests');

        //    console.log(thisSection);
        //}, 1000);
    });
</script>

</body>
</html>